body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

h1 {
    color: darkblue;
    text-align: center;
    text-transform: uppercase;
}

p{
    color: black;
    font-size: 18px;
    line-height: 1.5;
}

.destaque {
    color: white;
    background-color: crimson;
    padding: 10px;
    border-radius: 8px;
}